---
import { getCollection, render } from 'astro:content';
import Base from '../layouts/Base.astro';

const allGuides = await getCollection('guides');
const readme = allGuides.find((g) => g.id === 'readme');
const guides = allGuides.filter((g) => g.id !== 'readme');

const { Content } = readme ? await render(readme) : { Content: null };
---
<Base title="Beaket Style Guides" guides={guides}>
  {Content ? <Content /> : <h1>Beaket Style Guides</h1>}
</Base>
